{% extends "base.html" %}
{% block head %}

<h1> Requests</h1>

{% endblock %}

{% block content %}
<div class="list-group">
    {% for instance in object_list %}

    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{instance.user}}</h5>
        <span>order id: {{instance.pk}}</span>
        <span>user balance : </span>
        <span class="badge badge-primary ">{{user.profile.wallet_balance}} </span>
        <form method="post" action="{%url 'money_req_handle'%}">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{instance.pk}}">
            <small><button type="submit" class="btn  btn-outline-info">paid</button></small>
        </form>


    </div>

    <p class="list-group-item d-flex justify-content-between align-items-center mb-1">
        Payment method : {{instance.payment_window}}
        <br/>number : {{instance.pay_to}}
        <span class="badge badge-primary badge-pill">{{instance.amount}} Rs</span>

        </ul>

    </p>
    <small>{{instance.request_date}}</small>

    <br/>
    {% endfor %}
</div>
{% endblock %}