<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src=" {% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src=" {% static 'js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <title>Payment Info</title>


</head>
<body>
 {{ response}}


<div class="container">
    <div class="alert alert-{{message.tags}}"> {{message}} </div>
    <legend class="border-bottom mb-4"> Payment Info </legend>
    <div class="content-section">
        <h2>Payment status regarding your subscription id {{ORDERID}}</h2>
        {% if RESPCODE == '01' %}
        PAYMENT SUCCESS
        {% else %}
        PAYMENT FAILED
        <br/>
        Due to {{RESPMSG}}
        {{code}}
        {% endif %}
        <br/>
        <a class="btn  btn-outline-info" href="{% url 'profile'  %}">Profile</a>

    </div>
</div>


</body>
</html>


