{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
<legend class="border-bottom mb-4"> Profile </legend>
{% endblock  %}

{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle" src="{{ user.profile.image.url }}"  height="150">
        <div class="media-body">
            <h2>{{user.username}}</h2>
            <p class="text-secondary"> {{user.email}}</p>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <form method="post" enctype="multipart/form-data">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update Profile info</legend>
        </fieldset>
         {% csrf_token %}
        {{u_form|crispy}}
        {{p_form|crispy}}
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Update</button>
            </div>
        </form>
</div>
{% endblock  %}