{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}
<h1> Transfer Money </h1>
{% endblock %}

{% block content %}
<p>
    Your current wallet balance:-
    {{user.profile.account_balance}}.00/- in INR
</p>

<form method="post" action="">
    {% csrf_token %}

    <div class="toggle_radio">
        <input type="radio" class="toggle_option" id="first_toggle" name="toggle_option" value="deposit">
        <input type="radio" checked class="toggle_option" id="second_toggle" name="toggle_option" value="withdraw">
        <label for="first_toggle"><p>To Wallet</p></label>
        <label for="second_toggle"><p>To Account</p></label>
        <div class="toggle_option_slider">
        </div>
    </div>

    <div class="form-group row">
        {{form|crispy}}
    </div>
    <button type="submit" class="btn btn-primary mb-2">Transfer</button>
</form>
{% endblock %}