{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head %}
<legend class="border-bottom mb-4"> {{object.title}} </legend>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-sm-6" width="350">
        <div>
            <img src="{{object.image.url}}" width="375">
            <div class="info">
                <div class="form-group">
                    <a class="btn  btn-outline-info" href="{% url 'subscribe' object.pk  %}">Subscribe</a>
                </div>
                <p>
                    {{object.desc}}
                </p>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>
{% endblock %}