{% extends "base.html" %}
{% load static %}
{% block head %}

<legend class="border-bottom mb-4"> {{object.game.name}}:- </legend>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-sm-6" width="350">
        <div>
            <img src="{{object.game.image.url}}" width="375">
            <div class="info">
                <p>
                    Game           : {{object.tourney_type}}
                    <br/>
                    Time           : {{object.time}}
                    <br/>
                    Max players    : {{object.max_players}}
                    <br/>
                    Players Joined : {{object.players_joined}}
                    <br/>
                    Price          : {{object.price}} in INR
                    <legend class="border-bottom mb-3">Rewards</legend>
                    First prize    : {{object.first_prize}}
                    <br/>
                    Third prize    : {{object.second_prize}}
                    <br/>
                    Third prize    : {{object.third_prize}}
                    <br/>
                    {% for x,y in special.items %}
                    {{x}}:{{y}}
                    {%endfor%}

                </p>
                <input type="hidden" id="datetime" name="variable" value="{{ object.time.isoformat }}">
                {% if not object.is_live %}

                {% include 'clock.html' %}

                {% if user_exist != user.username %}
                <div class="form-group">
                    <form method="post" action="">
                        {% csrf_token %}
                        <button type="submit" class="btn  btn-outline-info" >Join</button>
                    </form>
                </div>
                {% else %}
                <legend class="border-bottom mb-3">Info</legend>
                <p>
                <div class="alert alert-warning">
                    This Info is only be accessible by Joined members.
                    If anyone found to be sharing id or pass may result in temporary or may permanent ban
                </div>
                Tournament Id       : {{object.tourney_id}}
                <br/>
                Tournament Password : {{object.tourney_pass}}
                </p>
                {% endif %}

                {% else %}
                 <a class="btn btn-outline-info" href="#">Live</a>
                {% endif %}
                <br/>


                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>

{% endblock %}