{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<h1> {{object.game.name}} live </h1>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-sm-6" >
        <div>
            <img src="{{object.game.image.url}}" width="100%">
            <div class="info">
                <p>
                    Game           : {{object.tourney_type}}

                    <br/>
                    Players Joined : {{object.players_joined}}
                </p>
                <form method="post">{% csrf_token %}

                    <div class="searchable">
                        <input type="text" placeholder="player" name="killer"  onkeyup="filterFunction(this,event)">
                        <ul >
                            {% for sub in subs %}
                            {% if sub.is_alive %}
                            <li>{{sub.membership.user_name}}</li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    killed
                    <div class="searchable">
                        <input type="text" placeholder="killed " name="kill"  onkeyup="filterFunction(this,event)">
                        <ul >
                            {% for sub in subs %}
                            {% if sub.is_alive %}

                            <li>{{sub.membership.user_name}}</li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                    <br/>
                    <button type="submit" class="btn btn-outline-info">Submit</button>
                </form>
                <br/>
                <br/>
                <br/>
                <p>
                    <legend class="border-bottom mb-3">Players List</legend>
                <table class="table table-sm table-dark">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">User Name</th>
                        <th scope="col">User Id</th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for sub in subs %}
                    <tr class="bg-success">
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{sub.membership.user_name}}</td>
                        <td>{{sub.membership.user_id}}</td>

                        {% endfor %}

                    </tbody>
                </table>


            </div>

        </div>
    </div>
</div>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}



