<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">

    <title>Xarena</title>
</head>
<body class="grad">
<nav class="navbar navbar-expand-md sticky-top navbar-dark  ">
    <div class="container-fluid">
        <a href="{%url 'index' %}" class="navbar-brand mr-3"><img src="{% static 'img/logo2.png'%}"  width="120"class="d-inline-block align-top"> </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'store' %}" class="nav-item nav-link">Games</a>
                <a href="{% url 'tournaments' %}" class="nav-item nav-link">Tournaments</a>
                <a href="#" class="nav-item nav-link">Contact Us</a>
            </div>
            <div class="navbar-nav ml-auto">
                {% if user.is_staff %}
                <a href="{% url 'money_req' %}" class=" btn btn-outline-info nav-link">Requests</a>
                {% endif %}
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class=" btn btn-outline-info nav-link">Profile</a>
                <a href="{% url 'logout' %}" class="btn btn-outline-info nav-item nav-link">Logout</a>
                {% else %}
                <a href="{% url 'register' %}" class="btn btn-outline-info nav-item nav-link">Register</a>
                <a href="{% url 'login' %}" class="btn btn-outline-info nav-item nav-link">Login</a>

                {% endif %}
            </div>
        </div>
    </div>
</nav>
<!-- nav bar end -->

{% if request.path != "/" %}

<!--BREADCRUMBS BEGIN-->

<section class="image-header">
    <div class="container ">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <ul class="breadcrumbs">
                            <li><a href="{% url 'index' %}">Main</a>/</li>
                            <li>Category</li>
                        </ul>

                        {% block head %}
                        {% endblock head %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>
<br/>

<!--BREADCRUMBS END-->

{% endif%}
{% block home %}
{% endblock%}
<div class="container  ">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}"> {{message}} </div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock content %}

</div>
<footer class="footer">
    <div class="row">
        <div class="col-md-6">
            <p>Copyright © 2019 Xarena gaming</p>
        </div>
        <div class="col-md-6 text-md-right">
            <a href="{%url 't_and_c'%}" >Terms of Use</a>
            <span class="text-muted mx-2">|</span>
            <a href="{% url 'privacy_policy'%}" >Privacy Policy</a>
        </div>

    </div>
</footer>
</body>

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous">

</script>
{% block scripts %}
{% endblock %}
</html>



