{% extends 'base.html' %}
{% block head %}

<h1> Privacy Policy</h1>

{% endblock %}

{%block content %}
<div style="border: 2px solid green; padding: 20px;">
    <center><strong>Privacy Policy</strong></center>
    <p>
        Privacy Policy

Xarena is a platform in which Esports tournaments are conducted
Purpose of usage:
Xarena takes users:-
1: Email id
2: Name
3:Any payment informations
4: Profile photo

we use these data for only customer verification and for money transactions
we do not use these data for any of fraudant activities.

Disclosure/Sharing:
‌
‌Xarema may also share information as provided by you and data concerning usage of the Amusement Facility and participation in the Games with third party service providers engaged by Xarena (like paytm), for the purpose of data analytics or other similar purposes, for the purpose of storage, improving the services and helping Xarena serve you better.
‌Use of Cookies:

To improve the effectiveness and usability of the Portal for our Users, we use "cookies", or such similar electronic tools to collect information to assign each visitor a unique random number as a User Identification (User ID) to understand the User's individual interests using the identified computer. Unless the User voluntarily identifies himself/herself (e.g., through registration), Xarena has no way of knowing who the User is, even if we assign a cookie to the User's computer.

Links:

Xarena also includes links to other websites. Such websites are governed by their respective privacy policies, which are beyond Xarena's control. Once the User leaves Xarena's servers (the User can tell where he/she is by checking the URL in the location bar on the User's browser), use of any information provided by the User is governed by the privacy policy of the operator of the site which the User is visiting.

Security Procedures:

All information gathered on Xarena is securely stored within Xarena- controlled database. The database is stored on servers secured behind a firewall; access to such servers being password-protected and strictly limited based on need-to-know basis. However, we understand that as effective as our security measures are, no security system is impenetrable

Conditions of Use:

XARENA DOES NOT WARRANT THAT THIS PORTAL, IT’S SERVERS, OR EMAIL SENT BY US OR ON OUR BEHALF ARE VIRUS FREE. XARENA WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS PORTAL, INCLUDING, BUT NOT LIMITED TO COMPENSATORY, DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, SPECIAL AND CONSEQUENTIAL DAMAGES, LOSS OF DATA, GOODWILL, BUSINESS OPPORTUNITY, INCOME OR PROFIT, LOSS OF OR DAMAGE TO PROPERTY AND CLAIMS OF THIRD PARTIES.

Contact Us:

Any questions or clarifications with respect to this Policy or any complaints, comments, concerns or feedback can be sent to Xarena at:
xarenagaming@gmail.com
    </p>
</div>
{% endblock%}